*{
	font-family: "Trebuchet MS", Helvetica, sans-serif;

}
.tabbar{
	border-top: 20px;
	width:100%;
	height:10%;
	font-size: 130%
}

.nav-tabs{
	background-color:#c0f9ec;
}

/*.nav-tabs > li > a{
  border: medium none;
}
.nav-tabs > li > a:hover{
  background-color: #c0f9ec !important;
    border: medium none;
    color:#fff;
}
*/
.img-centered{
	display: block;
	margin: auto;
	width: 10%;
	padding: 10px;
}

.centered{
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
}

.or{
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.right-align{
	text-align: right;
}

.left-align{
	text-align: left;
}

.titleline{
	display:block;
	margin:auto;
	text-align: center;
	color: gray;
	width:30%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	border-bottom: 3px solid gray
}


